.form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0rem 10rem;
    text-align: center;
}

.form-header {
    color: white;
}


input {
    padding: 0.2rem 0.7rem;
    margin: 0.2rem;
    background-color: #5C8374;
    border: none;
}

::placeholder {
    color: black;
}

input[type=text]:focus {
    border: 3px solid white;
}

.submit-btn {
    border: none;
    cursor: pointer;
    padding: 0.3rem 0.8rem;
    border-radius: 3px;
    color: white;
}