.add-movie-background {
    background: url(cinema.png);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.add-movie-container {
    display: flex;
    justify-content: center;
    background-color: red;
    border-radius: 5px;
    width: 320px;
    height: 320px;
    margin-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

form {
    text-align: center;
}

.add-movie-input {
    background-color: #4C4E52;
    padding: 0.5rem 1rem;
}

::placeholder {
    color: white;
}

.add-movie-input:first-child {
    margin-top: 1rem;
}

.add-movie-btn {
    cursor: pointer;
    padding: 0.8rem 1.3rem;
    background-color: white;
    color: black;
}