.add-movie-container {
    display: flex;
    flex-direction: column;
}

.add-movie-header {
    color: white;
    text-transform: uppercase;
}

.add-movie-input {
    padding: 0.5rem 1rem;
}

.add-movie-btn {
    cursor: pointer;
    padding: 0.8rem 1.3rem;
    color: white;
}

.add-movie-btn:hover {
    background-color: black;
    color: #7C90DB;
}