.header-template {
    background-color: black;
    height: 80px;
}

img {
    margin-left: 30px;
    width: 8vw;
    height: 10vh;
}

.navbar {
    float: right;
    margin: 1rem 1rem;
    text-decoration: none;
    color: white;
    padding: 0.5rem 0.5rem;
}

.navbar:hover {
    border: 1px solid white;
}