.header-template {
    background-color: #183D3D;
    height: 80px;
}

.header-template h1 {
    display: inline;
    color: white;
    position: absolute; 
    left: 10px;
    text-transform: uppercase;
}

.navbar {
    float: right;
    margin: 1rem 1rem;
    text-decoration: none;
    color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
}

.navbar:hover {
    border: 1px solid white;
}