body {
    margin: 0;
    height: auto;
    font-family:Arial, Helvetica, sans-serif;
    background: rgb(135,127,130);
    background: radial-gradient(circle, rgba(135,127,130,1) 0%, rgba(0,0,0,1) 100%);
}

.notfound-page {
    color: red;
}

.main-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.main-page-header {
    color: #FBFACD;
    text-align: center;
}

.btn-wrapper {
    margin: 0 33%;
    text-align: center;
}

.movie-title-app {
    text-transform: uppercase;
    color: #D8D8F6;
}

.movie-summary-app {
    color: #FBFACD;
}

.display-movie-app-container {
    margin: 0 33%;
}

.display-movies-app {
    list-style-type: none;
    padding: 0;
}

.movies-img-app {
    width: 15vw;
    height: 20vh;
}



