body {
    margin: 0;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #040D12;
}

.notfound-page {
    color: red;
}

.main-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.main-page-header {
    color: #44aeae;
    text-align: center;
    animation: 3s anim-flipX ease infinite;
}
  
@keyframes anim-flipX {
    0% {
      opacity: 0;
      transform: rotateX(90deg);
    }
    50% {
      opacity: 1;
      transform: rotateX(360deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(360deg);
    }
  }
  

.btn-wrapper {
    margin: 0 33%;
    text-align: center;
}

.movie-title-app {
    text-transform: uppercase;
    color: white;
}

.movie-summary-app {
    color: white;
}

.display-movie-app-container {
    margin: 0 33%;
}

.display-movies-app {
    list-style-type: none;
    padding: 0;
}

.movies-img-app {
    width: 15vw;
    height: 20vh;
}