.movie-item {
    color: white;
    text-align: center;
}

.item-title {
    color: #93B1A6;
}

.movieitem-img {
    width: 25vw;
    height: 45vh;
}

@media screen and (max-width: 425px) {
    .movieitem-img {
        width: 40vw;
    }
}